# This configuration is used to build and test on GitHub Actions only.
# It is not the same configuration that is used by Google DeepMind to create release binaries.
# The "official" binaries are built with Clang 13 on all platforms, and are linked against libc++
# on Linux.
#
# We set CMAKE_INTERPROCEDURAL_OPTIMIZATION=OFF here to reduce build time.
# It is highly recommended that this is set to ON for production builds.

# TODO(matijak): Consider removing macOS x86_64
# TODO(matijak): Consider switching Windows to Ninja builds only, this configures slightly faster and would bring windows in line with other OSes, also 
# TODO(matijak): Remove the dev commands and just inline steps in the README

name: build

on:
  push:
    paths-ignore:
      - "doc/**"
      - "**/README.md"
  pull_request:
    paths-ignore:
      - "doc/**"
      - "**/README.md"

jobs:
  mujoco:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            label: "ubuntu-24.04-gcc-14"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=gcc-14
              -DCMAKE_CXX_COMPILER:STRING=g++-14
              -DCMAKE_EXE_LINKER_FLAGS:STRING=-Wl,--no-as-needed
            tmpdir: "/tmp"
          - os: ubuntu-24.04
            label: "ubuntu-24.04-gcc-13"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=gcc-13
              -DCMAKE_CXX_COMPILER:STRING=g++-13
              -DCMAKE_EXE_LINKER_FLAGS:STRING=-Wl,--no-as-needed
            tmpdir: "/tmp"
          - os: ubuntu-22.04
            label: "ubuntu-22.04-gcc-12"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=gcc-12
              -DCMAKE_CXX_COMPILER:STRING=g++-12
              -DCMAKE_EXE_LINKER_FLAGS:STRING=-Wl,--no-as-needed
            tmpdir: "/tmp"
          - os: ubuntu-22.04
            label: "ubuntu-22.04-gcc-11"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=gcc-11
              -DCMAKE_CXX_COMPILER:STRING=g++-11
              -DCMAKE_EXE_LINKER_FLAGS:STRING=-Wl,--no-as-needed
            tmpdir: "/tmp"
          - os: ubuntu-22.04
            label: "ubuntu-22.04-gcc-10"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=gcc-10
              -DCMAKE_CXX_COMPILER:STRING=g++-10
              -DCMAKE_EXE_LINKER_FLAGS:STRING=-Wl,--no-as-needed
            tmpdir: "/tmp"
          - os: ubuntu-24.04
            label: "ubuntu-24.04-clang-18"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=clang-18
              -DCMAKE_CXX_COMPILER:STRING=clang++-18
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          - os: ubuntu-24.04
            label: "ubuntu-24.04-clang-17"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=clang-17
              -DCMAKE_CXX_COMPILER:STRING=clang++-17
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          - os: ubuntu-24.04
            label: "ubuntu-24.04-clang-16"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=clang-16
              -DCMAKE_CXX_COMPILER:STRING=clang++-16
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          - os: ubuntu-22.04
            label: "ubuntu-22.04-clang-15"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=clang-15
              -DCMAKE_CXX_COMPILER:STRING=clang++-15
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          - os: ubuntu-22.04
            label: "ubuntu-22.04-clang-14"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=clang-14
              -DCMAKE_CXX_COMPILER:STRING=clang++-14
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          - os: ubuntu-22.04
            label: "ubuntu-22.04-clang-13"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=clang-13
              -DCMAKE_CXX_COMPILER:STRING=clang++-13
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          - os: macos-15
            label: "macos-15-arm64"
            cmake_args: >-
              -G Ninja
              -DCMAKE_CXX_FLAGS="-Wno-deprecated-declarations"
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          - os: macos-15-large
            label: "macos-15-x86_64"
            cmake_args: >-
              -G Ninja
              -DMUJOCO_HARDEN:BOOL=ON
            tmpdir: "/tmp"
          # TODO(matijak): Always configure using ninja so that this matrix simplifies, we can have one MSBuild job elsewhere
          - os: windows-2025
            label: "windows-2025"
            cmake_args: >-
              -DCMAKE_SYSTEM_VERSION="10.0.26100.0"
            cmake_build_args: "-- -m"
            tmpdir: "C:/Temp"

    name: "${{ matrix.label }}"
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Prepare Linux
      if: ${{ runner.os == 'Linux' }}
      run: bash ./.github/workflows/build_steps.sh prepare_linux

    - name: Prepare macOS
      if: ${{ runner.os == 'macOS' }}
      run: brew install ninja

    # TODO(haroonq): Fix Filament on MacOS and (maybe) for GCC<=12
    - name: Configure Studio
      if: ${{ matrix.label != 'macos-15-x86_64' &&
              matrix.label != 'ubuntu-22.04-gcc-10' &&
              matrix.label != 'ubuntu-22.04-gcc-11' &&
              matrix.label != 'ubuntu-22.04-gcc-12' }}
      env:
        CMAKE_ARGS: ${{ matrix.cmake_args }}
      run: bash ./.github/workflows/build_steps.sh configure_studio ${{ matrix.os }}

    - name: Build Studio
      if: ${{ matrix.label != 'macos-15-x86_64' &&
              matrix.label != 'ubuntu-22.04-gcc-10' &&
              matrix.label != 'ubuntu-22.04-gcc-11' &&
              matrix.label != 'ubuntu-22.04-gcc-12' }}
      run: bash ./.github/workflows/build_steps.sh build_studio

  # This job quickly determines if MuJoCo Studio is broken.
  studio:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            label: "ubuntu-24.04-clang-18-studio"
            cmake_args: >-
              -G Ninja
              -DCMAKE_C_COMPILER:STRING=clang-18
              -DCMAKE_CXX_COMPILER:STRING=clang++-18
              -DMUJOCO_HARDEN:BOOL=ON
          - os: windows-2025
            label: "windows-2025-ninja-studio"
            cmake_args: >-
              -G Ninja
              -DCMAKE_SYSTEM_VERSION=10.0.26100.0
          - os: macos-15
            label: "macos-15-arm64"
            cmake_args: >-
              -G Ninja
              -DCMAKE_CXX_FLAGS="-Wno-deprecated-declarations"
              -DMUJOCO_HARDEN:BOOL=ON

    name: "${{ matrix.label }}"
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Prepare Windows (setup MSVC)
      if: ${{ runner.os == 'Windows' }}
      uses: ilammy/msvc-dev-cmd@v1

    - name: Prepare Linux
      if: ${{ runner.os == 'Linux' }}
      run: bash ./.github/workflows/build_steps.sh prepare_linux

    # Separate configure and build steps to allow comparing Ninja/MSBuild configure/build times.
    - name: Configure Studio with legacy OpenGL rendering
      env:
        CMAKE_ARGS: ${{ matrix.cmake_args }}
      run: bash ./.github/workflows/build_steps.sh configure_studio_legacy_opengl

    - name: Build Studio with legacy OpenGL rendering
      run: bash ./.github/workflows/build_steps.sh build_studio

    - name: Configure Studio with Filament rendering
      env:
        CMAKE_ARGS: ${{ matrix.cmake_args }}
      run: bash ./.github/workflows/build_steps.sh configure_studio

    - name: Build Studio with Filament rendering
      run: bash ./.github/workflows/build_steps.sh build_studio

    - name: Notify team chat
      shell: bash
      env:
        GCHAT_API_URL: ${{ secrets.GCHAT_API }}
        JOB_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        CHATMSG_AUTHOR_NAME: ${{ github.event.head_commit.author.name }}
        CHATMSG_AUTHOR_EMAIL: ${{ github.event.head_commit.author.email }}
        CHATMSG_COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        CHATMSG_JOB_ID: ${{ matrix.label }}
      if: ${{ failure() && github.event_name == 'push' && env.GCHAT_API_URL != '' }}
      run: bash ./.github/workflows/build_steps.sh notify_team_chat


  # This job quickly determines if WASM bindings are broken by testing them on a single platform.
  wasm:
    name: "ubuntu-24.04-clang-18-wasm"
    runs-on: ubuntu-24.04
    env:
      label: "ubuntu-24.04-clang-18-wasm"
      cmake_args: >-
        -G Ninja
        -DCMAKE_C_COMPILER:STRING=clang-18
        -DCMAKE_CXX_COMPILER:STRING=clang++-18
        -DMUJOCO_HARDEN:BOOL=ON
    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js for WASM bindings
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Prepare Linux
      if: ${{ runner.os == 'Linux' }}
      run: bash ./.github/workflows/build_steps.sh prepare_linux

    # For convenience run multiple build_steps functions in a single step.
    - name: Prepare, Build and Test WASM bindings
      env:
        CMAKE_ARGS: ${{ env.cmake_args }}
      run: |
        bash ./.github/workflows/build_steps.sh npm_ci
        bash ./.github/workflows/build_steps.sh setup_emsdk
        bash ./.github/workflows/build_steps.sh build_test_wasm

    - name: Notify team chat
      shell: bash
      env:
        GCHAT_API_URL: ${{ secrets.GCHAT_API }}
        JOB_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        CHATMSG_AUTHOR_NAME: ${{ github.event.head_commit.author.name }}
        CHATMSG_AUTHOR_EMAIL: ${{ github.event.head_commit.author.email }}
        CHATMSG_COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        CHATMSG_JOB_ID: ${{ env.label }}
      if: ${{ failure() && github.event_name == 'push' && env.GCHAT_API_URL != '' }}
      run: bash ./.github/workflows/build_steps.sh notify_team_chat
